.sidebar {
  background: #f5f5f5;
  max-width: 18%;
  width: 100%;
}

.sidebar h3 {
  margin-bottom: 0px;
  text-align: start;
  font-size: 16px;
  background: #1a1a2e;
  padding: 10px;
  color: #fff;
}

.sidebar .sports-list {
  list-style: none;
  padding: 10px;
  margin-bottom: 0px;
}

.sidebar .sports-list .sport-item {
  margin-bottom: 8px;
}

.sidebar .sports-list .sport-item .sport-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 8px;
  background: #e9e9e9;
  border-radius: 4px;
  font-weight: 500;
}

.sidebar .sports-list .sport-item .sport-header:hover {
  background: #dcdcdc;
}

.sidebar .sports-list .sport-item .league-list {
  list-style: none;
  padding-left: 15px;
  margin: 5px 0;
}

.sidebar .sports-list .sport-item .league-list .league-item {
  padding: 4px 0;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  text-align: start;
}

.sidebar .sports-list .sport-item .league-list .league-item:hover {
  color: #007bff;
}

.sidebar .sidebar-section .live-event {
  display: flex;
  justify-content: space-between;
  padding: 6px 8px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  border-radius: 4px;
}
