.icon-link {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.icon-link img {
  width: 100%;
  height: 100%;
}

.icon-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 27px;
  background-color: rgba(37, 211, 102, 0.4);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulseBefore 1.5s infinite;
  z-index: 1;
  background: linear-gradient(45deg, #262f55, #078ac8);
}

@keyframes pulseBefore {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

/* Top Header */
.top_header {
  background: linear-gradient(45deg, #262f55, #078ac8);
  color: #ffffff;
  padding: 10px 0;
  font-size: 14px;
}

.top_header .topslogan h4 {
  margin: 0;
  font-weight: 500;
}

.top_header .top_detail ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  gap: 20px;
}

.top_header .top_detail ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top_header .top_detail ul li svg {
  font-size: 14px;
}

.top_header .top_detail ul li h4 {
  margin: 0;
  font-weight: 400;
}

/* Color Variables */
header {
  padding: 0px 0;
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(128, 128, 128, 0.160784);
  z-index: 99;
}

/* Base Styles */
.headerContainer {
  width: 100%;
  background-color: #ffffff;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #28294d;
  text-decoration: none;
}

/* Mobile Menu Toggle */
.menuToggle {
  position: relative;
  display: none;
  cursor: pointer;
  width: 1.6rem;
  height: 1.15rem;
  background: transparent;
  border: none;
  padding: 0;
}

.toggleLine {
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 2.1px;
  background: #1d1d1d;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.toggleLine:nth-child(1) {
  top: 0;
}

.toggleLine:nth-child(2) {
  top: 50%;
  width: 70%;
  transform: translateY(-50%);
}

.toggleLine:nth-child(3) {
  bottom: 0;
}

.menuToggle.active .toggleLine:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
}

.menuToggle.active .toggleLine:nth-child(2) {
  opacity: 0;
}

.menuToggle.active .toggleLine:nth-child(3) {
  transform: translateY(-0.5rem) rotate(-45deg);
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  transition: all 0.35s ease;
}

.backdrop.active {
  opacity: 1;
  visibility: visible;
}

/* Navigation */
.mainNav {
  transition: all 0.5s ease;
}

.navList {
  display: flex;
  gap: 20px;
  padding-left: 0px;
}

.navItem {
  padding: 20px 0px;
  position: relative;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  color: #1d1d1d;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #28294d;
}

.withDropdown {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dropdownIcon {
  font-size: 1.35rem;
}

.icon_location svg {
  width: 30px;
  height: 30px;
}

/* Submenu */
.submenuList {
  position: absolute;
  top: 100%;
  left: -2rem;
  min-width: 16rem;
  padding: 0 0rem 0rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(1rem);
  border-radius: 0 0 0.25rem 0.25rem;
  border-top: 2px solid #1d1d1d;
  box-shadow: var(--shadow-md);
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.navItem:hover .submenuList {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.submenuItem a {
  position: relative;
  padding: 10px 13px;
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  transition: all 0.3s ease;
  padding-left: 13px;
}

.submenuItem a svg {
  opacity: 0;
  width: 0;
  transition: all 0.3s ease;
  transform: translateX(-5px);
}

.submenuItem a:hover {
  padding-left: 5px;
}

.submenuItem a:hover svg {
  opacity: 1;
  width: auto;
  transform: translateX(0);
}

.image_all {
  width: 40px;
  height: 40px;
}

.image_all img {
  width: 100%;
  height: 100%;
}

.submenuLink {
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  color: #1d1d1d;
  text-decoration: none;
  transition: color 0.35s ease;
}

.submenuLink:hover {
  color: #28294d;
}

.user_profile_design {
  position: relative;
}

.user_profile_design .userprofile_all {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  gap: 5px;
}

.user_profile_design .userprofile_all svg {
  width: 40px;
  font-size: 30px;
  color: #28294d;
}

.user_profile_design .userprofile_all .logincontent p {
  padding-right: 5px;
  font-size: 15px;
  line-height: 96%;
  margin-bottom: 0px;
  font-weight: 600;
  color: #28294d;
}

.user_profile_design .userprofile_all .logincontent p span {
  font-size: 12px;
  display: block;
  text-transform: capitalize;
}

.user_profile_design .mobile-menu-footer {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  position: absolute;
  right: 0px;
  border-radius: 7px;
  transition: 0.5s linear all;
  background: #fff;
  max-width: 320px;
  width: 100%;
  min-width: 180px;
  border: 2px solid #ccc;
}

.user_profile_design .mobile-menu-footer:before {
  content: "";
  position: absolute;
  left: 78%;
  top: -10px;
  width: 14px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  height: 14px;
  transform: rotate(45deg) translate(0%, -6%);
  background: #fff;
  z-index: -40;
}

.user_profile_design .mobile-menu-footer .buttonlogin {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user_profile_design .mobile-menu-footer .buttonlogin a {
  color: #1d1d1d;
  font-size: 14px;
}

.user_profile_design .mobile-menu-footer .buttonlogin:last-child {
  border-bottom: 0px solid transparent;
}

.user_profile_design .mobile-menu-footer .signupbutton {
  width: 100%;
  background: linear-gradient(45deg, #262f55, #078ac8);
  font-size: 13px;
  max-width: 160px;
  margin: 10px auto;
}

.user_profile_design .mobile-menu-footer .signupbutton .signuppage {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  color: #ffffff;
  display: block;
  box-sizing: border-box;
}

.user_profile_design:hover .mobile-menu-footer {
  opacity: 1;
  visibility: visible;
  transform: translateY(29px);
  position: absolute;
}

.mobile-sidebar-close,
.mobile-sidebar-logo,
.header_follow {
  display: none;
}

/* Mobile Styles */
@media (max-width: 1199px) {
  .navList {
    display: flex;
    gap: 15px;
  }
  .navLink {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .top_header {
    padding: 5px 0;
  }
  .top_header .top_detail ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 7px;
  }
  .top_header .top_detail ul .downloaddoument {
    font-size: 9px;
  }
  .mobile-sidebar-logo {
    display: block;
  }
  .mobile-sidebar-logo a {
    width: 150px;
    padding: 15px 15px 0px;
    display: inline-block;
  }
  .mobile-sidebar-logo a img {
    width: 100%;
  }
  .header_follow {
    border-top: 1px solid #ccc;
    padding: 0;
    display: block;
  }
  .header_follow h4 {
    font-size: 15px;
    padding: 5px 15px;
    margin-bottom: 0;
    color: #1d1d1d;
  }
  .header_follow .social-icons {
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 5px 15px;
    gap: 10px;
  }
  .header_follow .social-icons a {
    color: #28294d;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #28294d;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
  .header_follow .social-icons a:hover {
    background-color: #28294d;
    color: #ffffff;
  }
  .user_profile_design:hover .mobile-menu-footer {
    right: 0px;
    left: -74px;
  }
  .user_profile_design .mobile-menu-footer:before {
    content: "";
    left: 78%;
    top: -7px;
  }
  .menuToggle {
    display: block;
    z-index: 10;
  }
  .mobile-sidebar-close {
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #1d1d1d;
    padding: 5px;
    margin-right: -5px;
    transition: transform 0.2s ease;
  }
  .padding_all_left_right {
    padding: 0px 15px;
  }
  .mobile-sidebar-close:hover {
    transform: rotate(90deg);
  }
  .mainNav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    box-shadow: var(--shadow-md);
    background-color: #ffffff;
  }
  .mainNav.open {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  .navList {
    flex-direction: column;
    gap: 0;
    flex: 1 1 75%;
    padding: 1rem 0;
  }
  .navItem {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0;
  }
  .navLink {
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
  }
  .submenuList {
    position: relative;
    top: 0;
    left: 0px;
    width: calc(100% - 2.5rem);
    max-height: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
    opacity: 1;
    visibility: visible;
    transform: none;
    overflow: hidden;
  }
  .submenuLink {
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    color: #1d1d1d;
    text-decoration: none;
    transition: color 0.35s ease;
  }
  .navItem.active .submenuList {
    max-height: 1000px;
    padding-bottom: 0rem;
  }
}

@media (max-width: 570px) {
  .mobile-sidebar-logo a {
    width: 90px;
    padding: 0px;
  }
}
