$white: #fff;
$darkcolor: #000;
// Spacing variables
$sidebar-width: 250px;
$padding-base: 15px;
$padding-base-0: 0;
$menu-item-spacing: 5px;

// table button start
$tooltip-bg: #333;
$tooltip-color: #fff;
$edit-bg: #1976d2;
$success-bg: #2e7d32;
$whitecolor: #fff;
$secondary: #000;
$primarycolor: #fac049;
$secondarycolor: #ed8209;
$info: #17a2b8;
$danger: #dc3545;
$blue: #007bff;
$linear_bg: linear-gradient(#dd5606, #fbc10b);

$primary-blue: #6394c9;
$danger-red: rgb(250, 14, 14);
$success-green: rgb(40, 167, 69);
$royal-purple: rgb(107, 0, 255);
$teal-cyan: rgb(0, 157, 154);
$violet-magenta: rgb(180, 0, 212);
