# production 
REACT_APP_API_URL=https://api.step2pay.online
REACT_APP_MERCHANT_DASHBOARD_URL=https://dashboard.step2pay.online

#development
# REACT_APP_API_URL=http://localhost:8000
# REACT_APP_MERCHANT_DASHBOARD_URL=http://localhost:3000

REACT_APP_TOKEN_NAME=sob_admin_token
REACT_APP_MERCHANT_TOKEN_NAME=sob_token
REACT_APP_RECORDS_PER_PAGE=10
